<p>
 <strong> <%= comment.commenter %>:</strong>
  <%= comment.body %>


  <%= link_to 'Destroy Comment', [comment.article, comment],class:"btn btn-outline-danger btn-sm",
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>

