<h1>My articles</h1>


  <% @articles.each do |a| %>
    <div class="well">
      <br/>
      <h3><%= a.title %></h3>
      <p><%= a.body %></p>
      <%= link_to 'Read More', a, class: "btn btn-secondary" %>
    </div>
  <% end %> 

